<div class="forumsnav">
  <div class="grid_4 forumnav">
    <span class="icon film"></span>
    <div class="nav">
      <ul>
        <li><%= link_to "电影", "/forums/1" %></li>
      </ul>
    </div>
  </div>
  <div class="grid_4 forumnav">
    <span class="icon buy"></span>
    <div class="nav">
      <ul>
        <li><%= link_to "消费", "/forums/1" %></li>
        <li><%= link_to "打折", "/forums/1" %></li>
      </ul>
    </div>
  </div>
  <div class="grid_4 forumnav">
    <span class="icon coffee"></span>
    <div class="nav">
      <ul>
        <li><%= link_to "数码生活", "/forums/1" %></li>
        <li><%= link_to "夜生活", "/forums/1" %></li>
        <li><%= link_to "绍兴美食", "/forums/1" %></li>
        <li><%= link_to "电影", "/forums/1" %></li>
        <li><%= link_to "电影", "/forums/1" %></li>
      </ul>
    </div>
  </div>
  <div class="grid_4 forumnav">
    <span class="icon house"></span>
    <div class="nav">
      <ul>
        <li><%= link_to "二手房", "/forums/1" %></li>
        <li><%= link_to "房屋出租", "/forums/1" %></li>
      </ul>
    </div>
  </div>
  <div class="grid_4 forumnav">
    <span class="icon photo"></span>
    <div class="nav">
      <ul>
        <li><%= link_to "摄影", "/forums/1" %></li>
        <li><%= link_to "好图分享", "/forums/1" %></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
