= render :partial => "forumnav"
.grid_11
  = render :partial => "widget/flashmessage"
  .topics
    = render @topics
.grid_5
  #info{:style => "display: none;"}
    - if logged_in?
      = render :partial => "topics/form_a", :locals => {:submit_txt => "发布帖子"}
    - else
      = render :partial => "user_sessions/form_a"
  = link_to "发帖", new_forum_topic_path(@forum)
  %a{:href => "#info", :rel => "facebox"} 发帖
  :javascript
    jQuery(document).ready(function($) {
      $(document).bind('reveal.facebox', function(){
        $('div.smiley a').click(function(){
          $("#facebox textarea").insertAtCaret('[em:' + this.className + ']');
        });
        $('#facebox textarea').keydown(function (e) {
          if (e.ctrlKey && e.keyCode == 13) {
            alert("hello");
          }
        });
      })
    });
