= form_for [@forum, @topic], :html => {:class => "topic_form"}, :validate => true do |f|
  = render "widget/flashmessage"
  .clearfix.title= f.text_field :title, :class => "input_b", :autocomplete => "off"
  - if @topic.new_record?
    .clearfix.body
      = f.text_area :body, :class => "text_b", :id => "kindeditor_id", :validate => false
  .clearfix
    .indent= f.submit submit_txt, :class => "button bbutton"
