<%= form_for [@forum, @topic], :html => {:class => "topic_form"} do |f| %>
  <%= render "widget/flashmessage" %>
  <div class="clearfix title"><%= f.text_field :title, :class => "input_b" %></div>
  <% if @topic.new_record? %>
    <div class="clearfix body">
      <%= f.text_area :body, :class => "text_b" %>
    </div>

    <div class="clearfix smiley">
      <a class="sorry" title="抱歉"></a>
      <a class="despise" title="鄙视"></a>
      <a class="rage" title="大怒"></a>
      <a class="laugh" title="大笑"></a>
      <a class="happy" title="高兴"></a>
      <a class="shy" title="害羞"></a>
      <a class="asleep" title="酣睡"></a>
      <a class="grin" title="坏笑"></a>
      <a class="scared" title="惊恐"></a>
      <a class="pleasantsuprise" title="惊喜"></a>
      <a class="cry" title="哭"></a>
      <a class="puzzled" title="困惑"></a>
      <a class="bother" title="麻烦了"></a>
      <a class="strive" title="努力"></a>
      <a class="amative" title="色"></a>
      <a class="angry" title="生气"></a>
      <a class="painful" title="疼"></a>
      <a class="sad" title="委屈"></a>
      <a class="impatient" title="无奈"></a>
      <a class="faint" title="晕"></a>
    </div>
  <% end %>
  <div class="clearfix">
    <div class="indent"><%= f.submit submit_txt, :class => "button bbutton" %></div>
  </div>
<% end %>