<h2><%= @user.display_name %>的个人资料</h2>
<div class="grid_11">
  <%= render "widget/flashmessage" %>
	<%= render "usernav" %>
</div>

<div class="grid_5">
	<p>
		<%= image_tag @user.face_url || @user.photo(:s120) %>
		<%= @user.display_name %>
	</p>
	
</div>