#mainbar.grid_10
  = form_for @user, :url => change_password_setting_account_path, :html => {:class => "form"} do |f|
    = render :partial => "widget/flashmessage"
    .clearfix
      = f.label :password, "新密码："
      .input= f.password_field :password
    .clearfix
      = f.label :password_confirmation, "确认密码："
      .input= f.password_field :password_confirmation
    .clearfix
      .indent= f.submit "确认修改", :class => "button bbutton"
#sidebar.grid_6
  %h3 个人资料
  %p 该信息将出现在你的公开个人资料、搜索结果等地方。
