<div id="mainbar" class="grid_10">
<%= form_for @user, :url => setting_account_path, :html => {:multipart => true, :class => "form" } do |f| %>
	<%= render :partial => "widget/flashmessage" %>
	<% @user.errors.each do |attr, msg| %>
	  <%= msg %>
	<% end %>
	<div class="clearfix">
		<%= f.label :nickname, "昵称：" %>
		<div class="input"><%= f.text_field :nickname, :class => "input_m" %></div>

	</div>
	<div class="clearfix">
		<%= f.label :photo, "头像：" %>
		<div class="file"><%= f.file_field :photo %></div>
	</div>
	<div class="clearfix">
		<div class="indent"><%= f.submit "更新设置", :class => "button bbutton" %></div>
	</div>
<% end %>
</div>

<div id="sidebar" class="grid_6">
	<h3>个人资料</h3>
	<p>该信息将出现在你的公开个人资料、搜索结果等地方。</p>
</div>
