<div id="footer">
	<div id="footer_inner" class="container_16">
		<div class="links">
			<ul>
				<li><%= link_to "关于绍兴活动网" %></li>
				<li><%= link_to "联系我们" %></li>
				<li><%= link_to "API" %></li>
				<li><%= link_to "友情链接" %></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="copyright">
			&copy; 2011 绍兴活动网 <%= link_to "www.170575.com", "http://www.170575.com" %> <%= link_to "浙ICP123456号", "#" %>
		</div>
	</div>
</div>
