#footer
  #footer_inner.container_16
    .links
      %ul
        %li= link_to "关于绍兴活动网"
        %li= link_to "联系我们"
        %li= link_to "API"
        %li= link_to "友情链接"
      .clearfix
    .copyright
      \&copy; 2011 绍兴活动网 #{link_to "www.170575.com", "http://www.170575.com"} #{link_to "浙ICP123456号", "#"}
