<div id="slogin_form">
	<%= form_for(UserSession.new(:remember_me => true), :remote => true) do |f| %>
	<div id="slogin_form_top">
		<ul>
			<li><%= f.check_box :remember_me %><%= f.label :remember_me %></li>
			<li><%= link_to t("form.login.Forgot password") %></li>
			<li><%= link_to t("form.Register"), "/signup", :class => "btn_5" %></li>
		</ul>
	</div>
	<script type="text/javascript">
		function check_input(obj){
			obj.className = "none";
		}
		function check_input1(obj){
			if ("" == obj.value && "text" == obj.type) { obj.className = "id_input" };
			if ("" == obj.value && "password" == obj.type) { obj.className = "pw_input" };
		}
	</script>
	<div class="log_box">
		<%= f.text_field :email, :class => "id_input", :onfocus => "javascript:check_input(this);", :onblur => "javascript:check_input1(this);" %>
		<%= f.password_field :password, :class => "pw_input", :onfocus => "javascript:check_input(this);", :onblur => "javascript:check_input1(this);" %>
		<%= f.submit t("form.login.Submit"), :class => "button mbutton" %>
	</div>
	<% end %>
</div>