= form_for [:admin, @forum], :html => {:class => "form"}, :validate => true do |f|
  = render "widget/flashmessage"
  .clearfix
    = f.label :name, "版块名称："
    .input= f.text_field :name, :class => "input_m"
  .clearfix
    = f.label :parent_id, "父版块"
    .input
      = f.collection_select :parent_id, Forum.top, :id, :name, :include_blank => true
  .clearfix
    = f.label :name, "版块位置："
    .input= f.text_field :position, :class => "input_ss"
  .clearfix
    = f.label :css_name, "样式名字："
    .input= f.text_field :css_name, :class => "input_s"
  .clearfix
    = f.label :description, "版块描述："
    .input= f.text_area :description, :class => "text_s"
  .clearfix
    .indent= f.submit submit_txt, :class => "button bbutton"
