<%= form_for @activity, :validate => true do |f| %>
<ul>
	<li><span class="label">标题：</span><%= f.text_field :act_subject, :class => "inputField_b" %><span class="need"><em>*</em></span></li>
	<li><span class="label">时间：</span><%= f.text_field :start_time, :class => "inputField_m"%><span class="sep">至</span><%= f.text_field :end_time, :class => "inputField_m"%></li>
	<li><span class="label">地点：</span><%= f.text_field :act_place, :class => "inputField_bb" %><span class="need"><em>*</em></span></li>
	<%= f.fields_for :act_text do |act_text| %>
	<li class="content"><span class="label"><em>*</em>活动描述：</span><%= act_text.text_area :act_description, :id => "kindeditor_id" %></li>
	<% end %>
	<li class="indent"><%= f.submit "提交", :class => "button bbutton" %></li>
</ul>
<% end %>