<%= form_for @user_session, :html => {:class => "form"} do |f| %>
<div class="clearfix">
  <%= render "widget/flashmessage" %>
  <%= f.label :login, "用户名或邮箱：" %>
  <div class="input"><%= f.text_field :login, :class => "input_m" %></div>
</div>
<div class="clearfix">
  <%= f.label :password, "密码：" %>
  <div class="input"><%= f.password_field :password, :class => "input_m" %></div>
</div>
<div class="clearfix">
  <div class="indent"><%= f.submit "登录", :class => "button bbutton" %></div>
</div>
<% end %>