= form_for UserSession.new(:remember_me => true), :html => {:class => "form"}, :remote => true do |f|
  .clearfix
    = f.label :login, "用户名或邮箱："
    .input= f.text_field :login, :class => "input_m"
  .clearfix
    = f.label :password, "密码："
    .input= f.password_field :password, :class => "input_m"
  .clearfix
    .indent= f.submit "登录", :class => "button bbutton"
