= form_for @user_session, :html => {:class => "front_form login_box"} do |f|
  = render "widget/flashmessage"
  .clearfix
    = f.label :login, "用户名或邮箱："
    = f.text_field :login, :class => "input_m"
  .clearfix
    = f.label :password, "密码："
    = f.password_field :password, :class => "input_m"
  .clearfix
    = sex_button_tag "登录", :type => "submit", :class => "blue-button"
