<h2><%= t("form.login.User login")%></h2>
<div class="cbox p40">
	<div class="form login_box fl">
		<% @user_action_type = "login" %>
		<%= form_for(@user_session) do |f| %>
			<ul>
				<li><span class="label"><%= t("form.login.Email") %></span><%= f.text_field :email, :class => "inputField" %></li>
				<li><span class="label"><%= t("form.login.Password") %></span><%= f.password_field :password, :class => "inputField" %></li>
				<li class="indent"><%= f.check_box :remember_me %><%= f.label :remember_me, :class => "remember_me" %></li>
				<li class="indent"><%= f.submit t("form.login.Submit"), :class => "button bbutton" %></li>
			</ul>
		<% end %>
	</div>
	<%= render :partial => "widget/oauth" %>
	<div class="clear"></div>
</div>
