!!!
%html
  %head
    %title= "#{@page_title + ' - ' if @page_title}#{current_site.name}"
    %meta{:name => "keywords", :content => "#{@meta_keywords if @meta_keywords}"}
    %meta{:name => "description", :content => "#{@meta_description if @meta_description}"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tag
  %body
    = render :partial => "widget/top_nav"
    .container_16
      = yield :forumnav
    .container_16
      #main.grid_11
        = yield
      .grid_5
        = yield :sidebar
    = render :partial => "widget/footer"
    = render :partial => "widget/loading"
    #preloader
    %a#top-link{:href => "#top", :style => "display: none;"}
    = yield :footer
