!!!
%html
  %head
    %title Sxhdw
    = stylesheet_link_tag ['reset', 'text', '960']
    = stylesheet_link_tag "test.less", :rel => "stylesheet/less"
    = javascript_include_tag "less.min"
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery-ui.min"
    = javascript_include_tag "rails.validations"
    = javascript_include_tag "rails.validations.custom"
    = javascript_include_tag "jquery-ui-timepicker-addon"
    = csrf_meta_tag
  %body
    = render :partial => "widget/top_nav"
    #main.container_16
      = yield
    = render :partial => "widget/footer"
