  <div class="content">
    <div class="clearfix"><%= @site.name %></div>
    <div class="clearfix"><%= @site.host %></div>
    <div class="clearfix"><%= @site.description %></div>
    <div class="clearfix"><%= link_to "编辑", edit_admin_site_path %></div>
  </div>

<% content_for :side do %>
  <%= link_to "返回", admin_sites_path %>
<% end %>
